* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ".";
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#page1 {
  height: 162vh;
  width: 100%;
  position: relative;
}

#nav {
  height: 80px;
  width: 100%;
  padding: 0px 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#nav > .left > h2,
#nav > h2 {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

#nav > .left {
  display: flex;
  gap: 2.5vw;
}

#nav > .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nav > .left > h2:hover,
#nav > h2:hover {
  cursor: pointer;
  scale: 1.045;
  transition-duration: 0.3s;
  transition-timing-function: all ease 0.5s;
  color: blue;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.content > .box {
  width: 50%;
  height: 100%;
}

#box1 {
  padding: 0vw 6vw;
  padding-top: 19vw;
  padding-bottom: 21vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#box1 > .top > h2 {
  letter-spacing: -0.5px;
  line-height: 1;
  margin-bottom: 6px;
}

#box1 > .top > h4 {
  line-height: 1.25;
  opacity: 0.5;
}

#box1 > img {
  width: 180px;
  height: 240px;
}

#box2 {
  position: relative;
}

#box2 > h1 {
  position: absolute;
  z-index: 99;
  font-size: 6vw;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 0.8;
  font-family: "Air Travelers Personal Use";
  left: -4vw;
  top: 10vw;
}

#box2 > img {
  width: 100%;
  height: 55%;
  position: relative;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#box2 > h2 {
  color: black;
  position: absolute;
  bottom: 4vw;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.1;
  left: 3vw;
  letter-spacing: -1px;
}

#box3 {
  position: relative;
}

.sideway {
  position: relative;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sideway > i {
  font-size: 4vw;
  opacity: 0.5;
}

.sideway > i:hover,
.sideway > p:hover {
  cursor: pointer;
}

.sideway > p {
  font-size: 18px;
  font-weight: 800;
  opacity: 0.5;
}

#page2 {
  height: 70vh;
  width: 100%;
  position: relative;
  padding: 4.5vw 10vw;
}

#page2 > h4 {
  font-size: 21px;
  opacity: 0.5;
  letter-spacing: -0.5px;
  font-weight: 400;
  margin-left: 7vw;
  margin-bottom: 2vw;
}

#page2 > p {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 0.5;
  text-align: right;
  position: relative;
}

#page2 > p:nth-child(6) {
  margin-top: 25px;
}

#page2 > p > span {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 45px;
  margin: 0px 6px;
  border-radius: 100px;
  overflow: hidden;
  background-color: red;
  top: 1vw;
}

#page2 > p > span > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page3 {
  height: 125vh;
  width: 100%;
  position: relative;
  display: flex;
  padding: 0vw 2vw;
}

#page3 > .left {
  width: 50%;
  height: 100%;
  padding-left: 10vw;
}

#page3 > .right {
  width: 50%;
  height: 100%;
  padding-left: 10vw;
}

#page3 > .left img {
  width: 44%;
  height: 24vw;
}

#page3 > .right img {
  width: 65%;
  height: 42vw;
}

#page3 > .left > h1,
#page3 > .right > h1 {
  font-weight: 500;
  letter-spacing: -2.5px;
  margin: 1.8vw 0vw;
}

#page3 > .left > h3,
#page3 > .right > h3 {
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: -0.5px;
}

#page4 {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 6vw;
  display: flex;
}

.image-Effect {
  width: 70%;
  height: 37vw;
  overflow: hidden;
}

.image-Effect > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page4 > .down {
  margin: 9.5vw 3vw;
}

#page4 > .down > h1 {
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 2vw;
}

#page4 > .down > h3 {
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: justify;
}

#page5 {
  height: 100vh;
  width: 100%;
  position: relative;
}

#page5 > .box {
  width: 20vw;
  height: 12vw;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 99;
}

#page5 > .box > h2 {
  font-size: 4.5vw;
  color: #000;
  font-family: "Kajiro";
  letter-spacing: 2px;
  font-weight: 400;
}

#page5 > .box > button {
  font-size: 1vw;
  color: #000;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 20px 20px;
  border-radius: 50px;
  top: 5vw;
  left: 1vw;
  background-color: white;
}

#page5 > .box > button:hover {
  cursor: pointer;
}

#page5 > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

*::selection {
  color: red;
  background-color: #000;
}
